<div>
    {{ block.settings.snippet }}
</div>

{% schema %}
    {
        "name":"Swirl app",
        "target": "section",
        "settings": [
            {
                "type": "textarea",
                "id": "snippet",
                "label": "snippet",
                "placeholder":"paste your code here"
            }
            
        ]
    }
{% endschema %}