.container-box {
    position: relative;
    width: auto;
    width: 100%;
  }
  
  .checkbox {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 5px;
    top: 5px;
  }
  .duration {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
    background-color: #00000099;
    color: white;
    width: 40px;
    border: 0.5px solid;
    text-align: center;
    border-radius: 10px;
    padding:5px, 10px, 5px, 10px
  }

  .video-duration{
    
    font-family: Circular Std;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

  }

  .video-title span{
    font-family: Circular Std;
    font-size: 16px;
    font-weight: 450;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #181218;

    
  }

  .video-title{
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .video-react-poster{
   
    border-radius: 10px 10px 0px 0px !important;

  }
  .disable-title{
    width: 434px;
    height: 55px;
    top: 112px;
    left: 434px;
    border-radius: 5px;
    border: 1px;
    color: #000000;
    font-size: 24px;
    font-weight: 450;
}

.divider-line{

  border-bottom:  1px solid #000000;
  opacity: 10%;
  margin-top: 24px !important;
  margin-bottom: 24px;
}

.navigation-step-2{
  margin-bottom: 48px;
  
}

.navigation-step-2 img{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
}


.action-button-group{
  margin-right: 0;
  margin-left: auto;
}
.action-button-group button{

padding: 10px 20px 10px 20px;
border-radius: 10px;
gap: 16px;

}
.next-action-button{
  background-color: #181218;
  color: #FFFFFF;
}

.video-react-button{
  background: white !important;
  color: black !important;
  max-width: 50px !important;
  border-radius: 30px !important;
  opacity: 0.8 !important;
  margin-left: -1em !important;
}